# Build output
.next
out
dist
build

# Dependencies
node_modules

# Environment
.env
.env.local
.env.development
.env.production

# Others
package-lock.json
yarn.lock
pnpm-lock.yaml
coverage
/mobile/node_modules
/mobile/dist
/mobile/build
/mobile/coverage
/mobile/package-lock.json
/mobile/yarn.lock
/mobile/pnpm-lock.yaml
/mobile/coverage
/mobile/package-lock.json
/mobile/yarn.lock
/mobile/pnpm-lock.yaml