@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0d1a;
  --foreground: #e5e4e2;
  --accent: #d3bb73;
  --surface: #1c1f33;
  --surface-alt: #0f1119;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(211, 187, 115, 0.3) transparent;
  }
}
