@import '@scss/mixins';

.login {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(232, 255, 232);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    @include coverImage('https://eventrulers.pl/img/page/home/mobile/Hero.jpg');

    @include breakpoint (md) {
      @include coverImage('https://eventrulers.pl/img/page/home/tablet/Hero.jpeg');
    }

    @include breakpoint (lg) {
      @include coverImage('https://eventrulers.pl/img/page/home/desktop/Hero.jpg');
    }
    @include beforeBlackShadow;
    filter: blur(5px);
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    padding: 8px;

    @include breakpoint(sm) {
      padding: 24px;
    }
  }

  &-content {
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--pure-white-shadow-strong);
    width: 100%;
    margin-top: 24px;
    border: 2px solid var(--heading-gold-dark);
    padding: 12px;

    @include landscape {
      padding: 8px;
    }

    @include breakpoint(md) {
      max-width: 700px;
      padding: 48px;
    }
  }

  &__logo {
    cursor: pointer;

    @include landscape {
      margin-bottom: 8px;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    a {
      color: var(--dark-gold);
      transition: color .2s ease;

      &:hover {
        color: var(--hover-color-gold);
      }
    }

    .button {
      color: var(--dark-gold);
      font-family: barlow-italic-bold;
      letter-spacing: 2px;
      border-radius: 16px;
    }
  }
}
